<html>
    <body>
        <form action="/weather" method="get">
            City : <input type="text" name="city">
            <input type="submit" value="SHOW">
        </form>
    </body>
</html>